@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 400;
  src: url("https://rsms.me/interface/font-files/Interface-Regular.woff2?v=1.1") format("woff2"), url("https://rsms.me/interface/font-files/Interface-Regular.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: italic;
  font-weight: 400;
  src: url("https://rsms.me/interface/font-files/Interface-RegularItalic.woff2?v=1.1") format("woff2"), url("https://rsms.me/interface/font-files/Interface-RegularItalic.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 500;
  src: url("https://rsms.me/interface/font-files/Interface-Medium.woff2?v=1.1") format("woff2"), url("https://rsms.me/interface/font-files/Interface-Medium.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: italic;
  font-weight: 500;
  src: url("https://rsms.me/interface/font-files/Interface-MediumItalic.woff2?v=1.1") format("woff2"), url("https://rsms.me/interface/font-files/Interface-MediumItalic.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 700;
  src: url("https://rsms.me/interface/font-files/Interface-Bold.woff2?v=1.1") format("woff2"), url("https://rsms.me/interface/font-files/Interface-Bold.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: italic;
  font-weight: 700;
  src: url("https://rsms.me/interface/font-files/Interface-BoldItalic.woff2?v=1.1") format("woff2"), url("https://rsms.me/interface/font-files/Interface-BoldItalic.woff?v=1.1") format("woff");
}
/* line 49, ../scss/app.scss */
body {
  background-color: white;
  color: #515e66;
  font-family: Interface, sans-serif;
}

/* line 55, ../scss/app.scss */
.section {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* line 67, ../scss/app.scss */
h3 {
  font-weight: bold;
  color: #515e66;
  margin-bottom: 20px;
}

/* line 74, ../scss/app.scss */
h4 {
  margin-bottom: 20px;
}

/* line 81, ../scss/app.scss */
button.ixda {
  background-color: #55c4c4;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 92, ../scss/app.scss */
.centered {
  text-align: center;
}

/* line 97, ../scss/app.scss */
#logo {
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 136px;
  height: 136px;
  background: url("../images/ixda_umea_logo_square_light@2x.png");
  background-size: 136px 136px;
}
@media (min-width: 600px) {
  /* line 97, ../scss/app.scss */
  #logo {
    width: 340px;
    height: 136px;
    background: url("../images/ixda_umea_logo_light@2x.png");
    background-size: 340px 136px;
  }
}

/* line 119, ../scss/app.scss */
#header {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #000000;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/umea_4.jpg") no-repeat center center;
  background-size: cover;
  background-position: center center;
}

/* line 129, ../scss/app.scss */
#about {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 135, ../scss/app.scss */
#events {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* line 140, ../scss/app.scss */
#events#meetup-widget {
  width: 100%;
  height: 100px;
  background-color: #000000;
}

/* line 147, ../scss/app.scss */
#ideas {
  background-color: white;
}

/* line 152, ../scss/app.scss */
#contact {
  background-color: #515e66;
  color: rgba(255, 255, 255, 0.5);
}
/* line 156, ../scss/app.scss */
#contact h3 {
  color: rgba(255, 255, 255, 0.5);
}
/* line 162, ../scss/app.scss */
#contact a {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}
/* line 166, ../scss/app.scss */
#contact a:hover {
  color: rgba(255, 255, 255, 0.8);
}
