@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 400;
  src: url("https://rsms.me/interface/font-files/Interface-Regular.woff2?v=1.1") format("woff2"), url("https://rsms.me/interface/font-files/Interface-Regular.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: italic;
  font-weight: 400;
  src: url("https://rsms.me/interface/font-files/Interface-RegularItalic.woff2?v=1.1") format("woff2"), url("https://rsms.me/interface/font-files/Interface-RegularItalic.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 500;
  src: url("https://rsms.me/interface/font-files/Interface-Medium.woff2?v=1.1") format("woff2"), url("https://rsms.me/interface/font-files/Interface-Medium.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: italic;
  font-weight: 500;
  src: url("https://rsms.me/interface/font-files/Interface-MediumItalic.woff2?v=1.1") format("woff2"), url("https://rsms.me/interface/font-files/Interface-MediumItalic.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 700;
  src: url("https://rsms.me/interface/font-files/Interface-Bold.woff2?v=1.1") format("woff2"), url("https://rsms.me/interface/font-files/Interface-Bold.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style: italic;
  font-weight: 700;
  src: url("https://rsms.me/interface/font-files/Interface-BoldItalic.woff2?v=1.1") format("woff2"), url("https://rsms.me/interface/font-files/Interface-BoldItalic.woff?v=1.1") format("woff");
}
/* line 49, ../scss/app.scss */
body {
  background-color: white;
  color: #515e66;
  font-family: Interface, sans-serif;
}

/* line 60, ../scss/app.scss */
a {
  color: #515e66;
}

/* line 65, ../scss/app.scss */
h1 {
  font-size: 44px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}

/* line 74, ../scss/app.scss */
h3 {
  font-size: 30px;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #515e66;
  margin-bottom: 15px;
}

/* line 83, ../scss/app.scss */
h4 {
  margin-bottom: 20px;
}

/* line 90, ../scss/app.scss */
button.ixda {
  background-color: #55c4c4;
  font-weight: 500;
  font-size: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 10px;
}

/* line 104, ../scss/app.scss */
.event-photo {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  overflow: hidden;
}

/* line 121, ../scss/app.scss */
.centered {
  text-align: center;
}

/* line 126, ../scss/app.scss */
.blurrybackground {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #000000;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/umea_4.jpg") no-repeat center center;
  background-size: cover;
  background-position: center center;
}

/* line 146, ../scss/app.scss */
.section {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
}

/* line 153, ../scss/app.scss */
#logo {
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 136px;
  height: 136px;
  background: url("../images/ixda_umea_logo_square_light@2x.png");
  background-size: 136px 136px;
}
@media (min-width: 600px) {
  /* line 153, ../scss/app.scss */
  #logo {
    width: 340px;
    height: 136px;
    background: url("../images/ixda_umea_logo_light@2x.png");
    background-size: 340px 136px;
  }
}

/* line 175, ../scss/app.scss */
#header {
  position: relative;
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #000000;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/umea_4.jpg") no-repeat center center;
  background-size: cover;
  background-position: center center;
}

/* line 187, ../scss/app.scss */
#about {
  font-weight: 500;
  color: white;
  background-color: #55c4c4;
}
/* line 193, ../scss/app.scss */
#about a {
  color: white;
}

/* line 198, ../scss/app.scss */
#events {
  background-color: #fafafa;
}

/* line 203, ../scss/app.scss */
#ideas {
  background-color: white;
}

/* line 208, ../scss/app.scss */
#contact {
  background-color: #515e66;
  color: rgba(255, 255, 255, 0.5);
}
/* line 212, ../scss/app.scss */
#contact h3 {
  color: rgba(255, 255, 255, 0.5);
}
/* line 218, ../scss/app.scss */
#contact a {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}
/* line 222, ../scss/app.scss */
#contact a:hover {
  color: rgba(255, 255, 255, 0.8);
}

/* line 230, ../scss/app.scss */
.next-event {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #F5F5F5;
  overflow: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 241, ../scss/app.scss */
.event-container {
  display: table;
  height: 100%;
  min-height: 1px;
  width: 100%;
  background-color: white;
  position: relative;
}

/* line 251, ../scss/app.scss */
.event-body {
  display: table-cell;
  background-color: white;
  text-align: left;
  padding: 30px;
}
/* line 258, ../scss/app.scss */
.event-body .event-date-label {
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}
/* line 265, ../scss/app.scss */
.event-body .event-title-label {
  font-weight: 700;
  font-size: 34px;
  display: block;
  line-height: 1.0;
}
/* line 273, ../scss/app.scss */
.event-body .event-location-label {
  margin-top: 15px;
  display: block;
}

/* line 280, ../scss/app.scss */
.event-attending {
  display: table-cell;
  min-width: 120px;
  text-align: center;
  background-color: #515e66;
  color: white;
  height: 100%;
}
/* line 289, ../scss/app.scss */
.event-attending .event-attending-inner {
  height: 100%;
  border: 2px solid #515e66;
  -moz-box-sizing: border-box;
}
/* line 296, ../scss/app.scss */
.event-attending .event-attending-inner-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 303, ../scss/app.scss */
.event-attending .event-going-number-label {
  font-size: 44px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: -10px;
  padding-bottom: 0px;
}
/* line 312, ../scss/app.scss */
.event-attending .event-going-label {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}
