$medium: 600px;
$large: 760px;

$ixda-green: rgb(85,196,196); // IxDA Green
$nevada: rgb(81,94,102); // Nevada
$white: rgb(255,255,255); // White
$quill-gray: rgb(222,222,221); // Quill Gray
$alizarin-crimson: rgb(237,28,36); // Alizarin Crimson
$flamingo: rgb(242,102,57); // Flamingo
$atlantis: rgb(166,206,57); // Atlantis
$st-tropaz: rgb(41,96,152); // St Tropaz