@import "settings";
// @import url('https://rsms.me/interface/interface.css');

@font-face {
  font-family: 'Interface';
  font-style:  normal;
  font-weight: 400;
  src: url("https://rsms.me/interface/font-files/Interface-Regular.woff2?v=1.1") format("woff2"),
       url("https://rsms.me/interface/font-files/Interface-Regular.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style:  italic;
  font-weight: 400;
  src: url("https://rsms.me/interface/font-files/Interface-RegularItalic.woff2?v=1.1") format("woff2"),
       url("https://rsms.me/interface/font-files/Interface-RegularItalic.woff?v=1.1") format("woff");
}

@font-face {
  font-family: 'Interface';
  font-style:  normal;
  font-weight: 500;
  src: url("https://rsms.me/interface/font-files/Interface-Medium.woff2?v=1.1") format("woff2"),
       url("https://rsms.me/interface/font-files/Interface-Medium.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style:  italic;
  font-weight: 500;
  src: url("https://rsms.me/interface/font-files/Interface-MediumItalic.woff2?v=1.1") format("woff2"),
       url("https://rsms.me/interface/font-files/Interface-MediumItalic.woff?v=1.1") format("woff");
}

@font-face {
  font-family: 'Interface';
  font-style:  normal;
  font-weight: 700;
  src: url("https://rsms.me/interface/font-files/Interface-Bold.woff2?v=1.1") format("woff2"),
       url("https://rsms.me/interface/font-files/Interface-Bold.woff?v=1.1") format("woff");
}
@font-face {
  font-family: 'Interface';
  font-style:  italic;
  font-weight: 700;
  src: url("https://rsms.me/interface/font-files/Interface-BoldItalic.woff2?v=1.1") format("woff2"),
       url("https://rsms.me/interface/font-files/Interface-BoldItalic.woff?v=1.1") format("woff");
}

body{
	background-color:$white;
	color:$nevada;
	font-family: Interface, sans-serif;
}

p
{
	// font-size:18px;
}

a
{
	color:$nevada;
}

h1
{
	font-weight:700;
	color:$white;
	margin-bottom:20px;

	@media (min-width: $medium) {
		
	}
}


h3
{
	// font-size: 30px;
	letter-spacing:-0.5px;
	font-weight:700;
	color:$nevada;
	margin-bottom:15px;
}

h4
{
	margin-bottom:20px;
}

button
{
	&.ixda
	{
		background-color:$ixda-green;
		font-weight: 500;
		font-size: 16px;

		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;

		margin-top: 10px;
	}
}

.event-photo
{
	padding:10px;

	margin-top:10px;
	margin-bottom:10px;

	width:100%;

	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;

	overflow:hidden;

	@media (min-width: $medium) {
		-webkit-border-radius: 200px;
		-moz-border-radius: 200px;
		border-radius: 200px;
	}
}

.centered
{
	text-align:center;
}

.blurrybackground
{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;

	background-color:#000000;
	background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/umea_4.jpg') no-repeat center center;
	background-size: cover;
	background-position: center center;
}

.section
{
	width:100%;
	padding-top: 45px;
	padding-bottom: 45px;	

	@media (min-width: $medium) {
		padding-top: 90px;
		padding-bottom: 90px;
	}
}

#logo
{
	background-repeat:no-repeat;

	margin-left: auto;
	margin-right: auto;
	margin-bottom:20px;

	width:136px;
	height:136px;
	background:url('../images/ixda_umea_logo_square_light@2x.png');
	background-size:136px 136px;	


	@media (min-width: $medium) {
		width:340px;
		height:136px;
		background:url('../images/ixda_umea_logo_light@2x.png');
		background-size:340px 136px;	
	}
}

#header
{
	position:relative;

	padding-top: 80px;
	padding-bottom: 80px;

	background-color:#000000;
	background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/umea_4.jpg') no-repeat center center;
	background-size: cover;
	background-position: center center;

	@media (min-width: $medium) {
		padding-top: 160px;
		padding-bottom: 160px;
	}
}

#about
{
	font-weight:500;
	color:$white;
	background-color:$ixda-green;

	a{
		color: $white;
		text-decoration: underline;
	}
}

#events
{	
	background-color:#fafafa;
}

#ideas
{
	background-color:$white;
}

#contact
{
	background-color:$nevada;

	h3{
		color:rgba(255, 255, 255, 0.5);
	}

	color:rgba(255, 255, 255, 0.5);

	a{
		font-weight: bold;
		color:rgba(255, 255, 255, 0.5);

		&:hover{
			color:rgba(255, 255, 255, 0.8);
		}
	}
}

// EVENTS

.no-event-label
{
	font-weight:500;
	margin-bottom:15px;
}

.next-event
{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #E4E4E4;
	overflow:auto;
	margin-top:30px;
	margin-bottom:30px;
}

.event-container
{
	display:table;
	height: 100%; min-height: 1px;
	width:100%;

	background-color:$white;
	position:relative;
}

.event-body
{
	display: table-cell;
	background-color:$white;
	text-align:left;
	padding:30px;

	@media (min-width: $medium) {
		padding:30px;
	}

	.event-date-label
	{
		font-weight: 700;
		display:block;
		margin-bottom: 10px;
	}

	.event-title-label
	{
		font-weight: 700;
		font-size: 22px;
		display:block;
		line-height: 1.0;

		@media (min-width: $medium) {
			font-size: 34px;
		}
	}

	.event-location-label
	{
		margin-top: 10px;
		display:block;
	}
}

.event-attending
{
	display: table-cell;
	min-width:100px;
	text-align:center;
	background-color:$meetup-red;
	color:$white;
	height:100%;


	@media (min-width: $medium) {
		min-width:120px;
	}

	.event-attending-inner
	{
	    height: 100%;
	    border: 2px solid $meetup-red;
	    -moz-box-sizing: border-box;
	}

	.event-attending-inner-container
	{
		position: relative;
  		top: 50%;
  		transform: translateY(-50%);
	}

	.event-going-number-label
	{
		font-size: 44px;
		font-weight: 700;
		margin-top:0px; 
		margin-bottom:-10px; 
		padding-bottom: 0px;
	}

	.event-going-label
	{
		margin-top: 0px;
		font-size:14px;
		font-weight:400;
		margin-bottom: 15px;
	}
}
